.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    height: 100vh;
    overflow: hidden;

    .scrollArea {
        overflow: auto;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;

        .content {
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            max-width: 800px;

            .formCard {
                background-color: #fff;
                border: 1px solid #dbdbdbff;
                border-radius: 10px;
                overflow: hidden;

                .formHeader {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px;
                    gap: 10px;

                    .formTitle {
                        color: #442a1a;
                        font-size: 15px;
                        text-transform: uppercase;
                        font-weight: 600;
                    }

                    svg {
                        color: #ffa500;
                        font-size: 25px;
                    }
                }

                .formDescription {
                    padding: 20px;
                    border-top: 1px solid #dbdbdbff;

                    p {
                        color: #a0856c;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}