.areaHeader {
    padding: 10px;
    padding-bottom: 0px;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;

    .container_header {
        padding: 20px;
        height: 95px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: solid 1px #dbdbdbff;
        width: 100%;
        border-radius: 10px;
        background-color: #fff;

        .area_left {
            display: flex;
            align-items: center;
            gap: 10px;

            .area_logo {
                height: 50px;
                width: 50px;
                border-radius: 10px;
                background-color: #17a2b8;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .area_left_textos {
                display: flex;
                flex-direction: column;
                gap: 5px;

                span {
                    font-size: 13px;
                    color: #a0856c;

                    &:nth-child(1) {
                        font-weight: 600;
                        font-size: 20px;
                        color: #442a1a;
                    }

                    &:nth-child(2) {
                        text-transform: uppercase;
                    }
                }
            }
        }

        button {
            background-color: transparent;
            display: flex;
            border: none;

            &:hover {
                background-color: transparent !important;
                opacity: .5;
            }

            svg {
                font-size: 30px;
            }
        }
    }
}