.container_loading {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(90, 71, 53, .7) 0%, rgba(90, 71, 53, .7) 35%), url('../assets/fundo_madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    .loading {
        width: 60px;
        height: 60px;
        border: solid 8px red;
        border-radius: 50%;
        border-left-color: transparent;
        animation-name: loading;
        animation-duration: .5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes loading {
        100% {
            transform: rotate(360deg);
        }
    }
}